.fondonavbar {
    background-color: black;
    font-family: cursive;
    width: 100%;
    top:0
}

.estilomenu {
    color: gray;
   
}
.estilomenuinicio{
    color: white
}

.margenes {
    font-size: 1.5rem;
    color: white
}

p {
    color: black;
}
.textousuario{
    color:gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:14px
}

a:hover{
    color:gray
}